///*------------------------------------*\
//    #CONF SCHEDULE
//\*------------------------------------*/

/* VARIABLES
========================================================================== */


/* CONTAINER
========================================================================== */
.schedule-container {

}

/* DAY CONTAINER
========================================================================== */
.schedule-day-container {
	@include rem(margin-bottom, 40px);

	@include breakpoint(tablet-and-up) {
		@include rem(margin-bottom, 60px);
	}

	&:last-child {
		margin-bottom: 0;
	}

}

/* LIST
========================================================================== */
.schedule__list {}

.schedule__list-container {

	@include breakpoint(small) {
		&:last-child {
			margin-top: 10px;
		}
	}

}

.schedule__item {
	@include rem(margin-bottom, 10px); @include rem(padding, 10px);
	border: 1px solid rgb(221,221,221);

	@include breakpoint(tablet-and-up) {
		@include rem(padding, 20px);
	}



}

/* HEADER
========================================================================== */
.schedule__header {
	@include rem(margin-bottom, 10px); @include rem(padding, 13px 0 10px);
	width: 100%;
	background-color: $color-black;
	@include rem(font-size, 16px); line-height: 120%; color: $color-white; font-weight: bold; text-align: center; text-transform: uppercase; font-style: italic;
}

/* CONTENT
========================================================================== */
.schedule__keynote {
	@include rem(padding, 2px 5px);
	background-color: $color-lightning-yellow;
	font-size: 13px; color: $color-mine-shaft; line-height: 120%; font-weight: bold; font-style: italic; text-transform: uppercase;
}

.schedule__time {
	display: inline-block;
	@include rem(margin-bottom, 10px); @include rem(margin-right, 5px);
	@include rem(font-size, 13px); font-weight: bold; color: $color-emperor;
}

.schedule__title {
	@include rem(margin-bottom, 10px);
	@include rem(font-size, 16px); font-weight: 700; text-transform: uppercase; font-style: italic;
}

.schedule__title-button {
	position: relative;
	width: 90%;
	cursor: pointer; border: none; background-color: transparent;
	font-family: $font-primary; @include rem(font-size, 16px); font-weight: bold; text-transform: uppercase; font-style: italic; text-align:left;

	@include breakpoint(tablet-and-up) {
		width: 95%;
	}

	&:before {
		content: '';
		position: absolute; top: 6px; left: calc(100% + 10px);
		width: 10px; height: 6px;
		background: url('../img/icons/icon-arrow.svg') no-repeat;
		transition: transform ease $basic-transition;
	}

	&:hover, &:focus {
		opacity: .7;
		transition: opacity ease $basic-transition;
	}

	.is-open & {
		&:before {
			transform: rotate(180deg);
			transition: transform ease $basic-transition;
			will-change: transform;
		}
	}

}

.schedule__about {
    overflow: hidden;
    max-height: 0;
    transition: max-height ease .2s;
    .is-open & {
        max-height: 500px;
        transition: max-height ease 1s;
    }
}

.schedule__author-thumb {
	@include rem(margin-right, 5px);
	width: 40px; height: 40px;
	border-radius: 50%;
}

.schedule__author {
	font-size: 16px; line-height: 130%; color: $color-mine-shaft; font-weight: bold;
}