///*------------------------------------*\
//    #SKIP LINKS
//\*------------------------------------*/

/* LIST
========================================================================== */
.skip-links {

}

/* LIST ITEMS
========================================================================== */
.skip-links__item {

}

.skip-links__anchor {

	&:focus {
		z-index: $z-index-moon;
		top: 3%; left: 2%;
		@include rem(padding, 10px);
		width: auto; height: auto;
		clip: initial;
		opacity: 1;
		font-family: $font-primary; @include rem(font-size, 14px); color: white; font-weight: bold; text-transform: uppercase;
		background-color: $color-black;
	}

}