///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

/* BLACK
========================================================================== */
$color-black: rgb(0,0,0);

/* WHITE
========================================================================== */
$color-white: rgb(255,255,255);

/* GRAY
========================================================================== */
$color-wild-sand: rgb(246,246,246);
$color-gallery: rgb(238,238,238);
$color-alto: rgb(221,221,221);
$color-silver: rgb(204,204,204);
$color-emperor: rgb(85,85,85);
$color-tundora: rgb(78,78,78);
$color-bronze: rgb(78,67,32);
$color-mine-shaft: rgb(34,34,34);

/* BLUE
========================================================================== */
$color-cloud-burst: rgb(35,59,86);

/* YELLOW
========================================================================== */
$color-lightning-yellow: rgb(255,200,25);
$color-gold: rgb(232,183,26);
$color-golden-grass: rgb(212,168,27);
$color-cafe-royale: rgb(93,71,10);

/* PURPLE
========================================================================== */
$color-jon: rgb(52,30,49);
$color-gondola: rgb(31,18,29);

